*{
    margin: 0;
    padding: 0;
}
.aboutmebody{
    padding-top: 30vh;
    padding-bottom: 2rem;
}
.header h1{
    font-family: 'Raleway', 'Alkatra';
}

.holder{
    display: flex;
}
.left{
    width: 40%;
}
.right{
    margin: 3rem;
    width: 60%;
}
.right p{
    font-family: Galaxie, Lustria, "Times New Roman", serif;
    padding-top: 2rem;
    line-height: 1.5rem;
}
img{
    margin-left: 4rem;
    border-radius: 1rem;
    width: 18rem;
    height: 22rem;
}


@media only screen and (max-width: 620px) and (min-width: 300px){
    .holder{
        flex-direction: column;
        /* max-width: 610px; */
        padding-top: 1rem;
    }
    .right p{
        width: 90%;
        padding-top: 1rem;
        line-height: 1.4rem;
        font-size: .8rem;
    }
    .left{
        
        width: 80%;
    }
    .right{
        width: 90%;
    }
    .aboutmebody{
        padding-top: 3vh;
        padding-bottom: 2rem;
    }

}

@media only screen and (max-width: 1200px) and (min-width: 620px){
    .holder{
        flex-direction: column;
        /* max-width: 310px; */
        padding-top: 1rem;
    }
    .right p{
        padding-top: 1rem;
        line-height: 1.4rem;
        font-size: .8rem;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 90%;
    }
    .aboutmebody{
        padding-top: 3vh;
        padding-bottom: 2rem;
    }

}