*{
    margin: 0;
    padding: 0;
}
.footerbody{
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family: 'Raleway', 'Alkatra';
    width: 100%;
}
.footerheader h1{
    font-family: 'Raleway', 'Alkatra';
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    color: white;
    font-size: 3rem;
    padding-bottom: 1.2rem;
}

h3{
    font-family: 'Raleway', 'Alkatra';
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 1rem;
    font-size: 2rem;
    font-family: Galaxie, Lustria, "Times New Roman", serif;
}
.rightf{
    position: relative;
    align-items: center;
    justify-content: center;
}
.leftf{
    position: relative;
    align-items: center;
    justify-content: center;
}
.leftf img{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    width: 4rem;
    margin: 1rem;
    margin-left: 6.2rem;
    /* margin-left: 10%;
    margin-right: 10%; */
}
.rightf img{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    width: 4rem;
    margin: 1rem;
    margin-left: 6.2rem;
}
.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    color: white;
}
.foot h6{
    font-family: 'Raleway', 'Alkatra';
    font-size: 1.2rem;
    margin-top: 1rem;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 620px) and (min-width: 320px){
    #footer{
        width: 105%;
    }
    .leftf img{
        height: 2rem;
        width: 2rem;
        /* margin: 1rem; */
        margin-left: 2rem;
    }
    .rightf img{
        height: 2rem;
        width: 2rem;
        margin: 1rem;
        margin-left: 2rem;
    }
    h3{
        display: flex;
        margin-top: 1rem;
        font-size: 1.3rem;
        font-family: Galaxie, Lustria, "Times New Roman", serif;
    }
    .footerheader h1{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 620px){
    .leftf img{
        height: 3rem;
        width: 3rem;
        margin: 1rem;
        margin-left: 1.5rem;
    }
    .rightf img{
        height: 3rem;
        width: 3rem;
        margin: 1rem;
        margin-left: 1.5rem;
        /* margin-left: 2rem; */
    }
    h3{
        display: flex;
        margin-top: 1rem;
        font-size: 1.3rem;
        font-family: Galaxie, Lustria, "Times New Roman", serif;
    }
    .footerheader h1{
        font-size: 2rem;
    }
}