*{
    margin: 0;
    padding: 0;
    
}
.footerbody{
    background-color: black;
    font-family: 'Raleway', 'Alkatra';
}
.footerheader h1{
    font-family: 'Raleway', 'Alkatra';
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    color: white;
    font-size: 3rem;
    padding-bottom: 1.2rem;
}

h3{
    font-family: 'Raleway', 'Alkatra';
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 1rem;
    font-size: 2rem;
    font-family: Galaxie, Lustria, "Times New Roman", serif;
}
.rightf{
    align-items: center;
    justify-content: center;
}
.leftf{
    align-items: center;
    justify-content: center;
}
.leftf img{
    height: 4rem;
    width: 4rem;
    margin: 1rem;
    margin-left: 8.2rem;
}
.rightf img{
    height: 4rem;
    width: 4rem;
    margin: 1rem;
    margin-left: 8.2rem;
}
.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    color: white;
}
.foot h6{
    font-family: 'Raleway', 'Alkatra';
    font-size: 1.2rem;
    margin-top: 1rem;
}


@media only screen and (max-width: 620px) and (min-width: 300px){
    /* .leftf li a{
        display: flex;
        align-items: center;
        justify-content: center;
    } */
    .leftf img{
        /* margin: auto; */
        height: 2rem;
        width: 2rem;
        margin: 1rem;
        margin-left: 1.5rem;
    }
    .rightf img{
        height: 2rem;
        width: 2rem;
        margin: 1rem;
        margin-left: 1.5rem;
    }
    h3{
        display: flex;
        margin-top: 1rem;
        font-size: 1.3rem;
        font-family: Galaxie, Lustria, "Times New Roman", serif;
    }
    .footerheader h1{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 620px){
    .leftf img{
        height: 2rem;
        width: 2rem;
        margin: 1rem;
        margin-left: 1.5rem;
    }
    .rightf img{
        height: 2rem;
        width: 2rem;
        margin: 1rem;
        margin-left: 1.5rem;
    }
    h3{
        display: flex;
        margin-top: 1rem;
        font-size: 1.3rem;
        font-family: Galaxie, Lustria, "Times New Roman", serif;
    }
    .footerheader h1{
        font-size: 2rem;
    }
}