*{
    margin: 0;
    padding: 0;
}

.nav{
    position: fixed;
    background-color: black;
    height: 12vh;
    width: 100%;
    padding-left: 2rem;
    z-index: 10;
}

ul{
    display: flex;
    padding: .6rem;
    list-style: none;
  }
 li a{
  text-decoration: none; 
  color: white;


}
.navli{
    padding: 1rem;

}
  
  .navli::after {
    content: "";
    display: block;
    margin: auto;
    height: 1.5px;
    width: 0%;
    transition: all 0.5s;
    
  }
  
  .navli:hover::after, .navli ::after {
    width: 100%;
    background: white;
  }
  .navli a:hover{
    cursor: pointer;
    color: gray;
  }