@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Caveat&family=Raleway:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
}

.skillsbody{
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: rgb(212, 221, 229);
    padding-top: 5vh;
    padding-bottom: 5rem;
    background: linear-gradient(rgb(209, 232, 232),rgb(212, 221, 229));
    width: 100%;
}

.header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-family: 'Raleway', 'Alkatra';
}

.heading{
    display: flex;
    margin: 2rem;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway';
}
.heading h1{
    font-size: 3rem;
    font-family: 'Raleway';
}
.mainbox{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    /* flex-wrap: wrap; */
}
.flexi{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    /* flex-wrap: wrap; */
}

.borderbox{
    position: relative;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    height: 11rem;
    width: 18rem;
    margin: 1.5rem;
    border-radius: .7rem;
    background-color: #bebaba;
    box-shadow: 2px 2px 6px 6px #bebaba;
    min-width: 6rem;
    max-width: 18rem;
}

.borderbox2{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    height: 11rem;
    width: 18rem;
    margin: 2rem;
    border-radius: .7rem;
    background-color: #bebaba;
    box-shadow: 2px 2px 6px 6px #bebaba;
    min-width: 6rem;
    max-width: 18rem;
}
.borderbox:hover{
    box-shadow: 2px 2px 6px 6px #888888;
}
.borderbox2:hover{
    box-shadow: 2px 2px 6px 6px #888888;
}



.box1 h2{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: .5rem;
}
.box2 h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
}
.box1 img{
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 4.7rem;
    width: 5.6rem;
    padding-left: 2.3rem;
    padding-top: 1.2rem;
}

.box2 img{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 4.7rem;
    width: 5.6rem;
    margin-right: 3.9rem;
    /* margin-left: 50%; */
    /* margin-right: 70%; */
}

.box1 p{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.box2 p{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}


@media only screen and (max-width: 620px) and (min-width: 300px){
    #skills{
        width: 105%;
    }
    .header h1{
        font-size: 3rem;
    }
    .heading h1{
        font-size: 2rem;
    }
    .mainbox img{
        position: relative;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .flexi{
        margin: 0;
    }
    .borderbox{
        margin: .8rem;
        width: 6.2rem;
        height: 7rem;
    }
    
    .box1 img{
        border-radius: 0;
        height: 2.2rem;
        width: 2.2rem;
    }
    
    .box1 p{
        font-size: .5rem;
    }
    .box1 h2{
        font-size: .8rem;
    }
    .box2 img{
        border-radius: 0;
        height: 2.2rem;
        width: 2.2rem;
    }
    .borderbox2{
        width: 6.5rem;
        height: 7rem;
        margin: 1.5rem;
    }
    .box2 h2{
        font-size: .8rem;
    }
    .box2 p{
        font-size: .5rem;
    }
}


@media only screen and (max-width: 1200px) and (min-width: 620px){
    .header h1{
        font-size: 3rem;
    }
    .heading h1{
        font-size: 2rem;
    }
    .box1 img{
        padding-left: 0rem;
        position: relative;
        align-items: center;
        justify-content: center;
        height: 3.7rem;
        width: 4rem;
        padding-right: 2.6rem;

    }
    .box2 img{
        /* position: relative;
        justify-content: center;
        align-items: center; */
        padding-left: 0rem;
        padding-top: 1.2rem;
        height: 3.7rem;
        width: 4rem;
        /* margin-right: 14rem; */
        padding-right: 2rem;

    }
    .borderbox2{
        /* width: 40%; */
        /* width: 14rem; */
        width: 33%;
        margin: 1rem;
    }
    .borderbox{
        display: flex;
        min-width: 8rem;
        max-width: 18rem;
        margin: 1rem;
    }
    .box1 p{
        margin-bottom: 1rem;
        font-size: .8rem;
    }
    /* .flexi{
        display: flex;
        flex-wrap: nowrap;
    } */
    .box2 h2{
        font-size: 1.3rem;
        margin-left: 1.1rem;
    }
    .box2 p{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: .7rem;
    }
    .mainbox img{
        margin: 0;
        margin-left: 3rem;
    }
    .flexi img{
        margin: 0;
        margin-left: 3rem;
    }
}
